<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>index</th>
      <th>visit_id</th>
      <th>mrn</th>
      <th>diagnosis_code</th>
      <th>physician_name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.0</td>
      <td>84446</td>
      <td>44629.0</td>
      <td>S06.0X1A</td>
      <td>Jacob Anthony</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1.0</td>
      <td>23436</td>
      <td>47020.0</td>
      <td>S06.0X1A</td>
      <td>Steven Adams</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2.0</td>
      <td>72251</td>
      <td>19484.0</td>
      <td>E11.9</td>
      <td>Michelle Tanner</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3.0</td>
      <td>95307</td>
      <td>64952.0</td>
      <td>G44.311</td>
      <td>Kevin Barrera</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4.0</td>
      <td>70210</td>
      <td>64209.0</td>
      <td>E11.9</td>
      <td>Joseph Johnson</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5.0</td>
      <td>96312</td>
      <td>69320.0</td>
      <td>G44.311</td>
      <td>Christopher Robles</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6.0</td>
      <td>81728</td>
      <td>69010.0</td>
      <td>S06.0X1A</td>
      <td>Olivia Jackson</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7.0</td>
      <td>78628</td>
      <td>11717.0</td>
      <td>S06.0X1A</td>
      <td>Cindy Gilbert</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8.0</td>
      <td>83391</td>
      <td>67014.0</td>
      <td>M99.01</td>
      <td>Mark Robinson</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9.0</td>
      <td>54657</td>
      <td>56081.0</td>
      <td>M54.2</td>
      <td>Sara Conrad</td>
    </tr>
    <tr>
      <th>10</th>
      <td>10.0</td>
      <td>12867</td>
      <td>75425.0</td>
      <td>E11.9</td>
      <td>Jeanette Fields</td>
    </tr>
    <tr>
      <th>11</th>
      <td>11.0</td>
      <td>32140</td>
      <td>62641.0</td>
      <td>G44.311</td>
      <td>Shannon Beltran</td>
    </tr>
    <tr>
      <th>12</th>
      <td>12.0</td>
      <td>45683</td>
      <td>98162.0</td>
      <td>S06.0X1A</td>
      <td>Melissa Garcia</td>
    </tr>
    <tr>
      <th>13</th>
      <td>13.0</td>
      <td>88833</td>
      <td>20824.0</td>
      <td>G44.311</td>
      <td>Christopher Cummings</td>
    </tr>
    <tr>
      <th>14</th>
      <td>14.0</td>
      <td>57704</td>
      <td>39145.0</td>
      <td>E11.9</td>
      <td>Whitney Dixon</td>
    </tr>
    <tr>
      <th>15</th>
      <td>15.0</td>
      <td>51090</td>
      <td>64080.0</td>
      <td>S06.0X1A</td>
      <td>Larry Reynolds</td>
    </tr>
    <tr>
      <th>16</th>
      <td>16.0</td>
      <td>52839</td>
      <td>16988.0</td>
      <td>E11.9</td>
      <td>Holly Powell</td>
    </tr>
    <tr>
      <th>17</th>
      <td>17.0</td>
      <td>23771</td>
      <td>48311.0</td>
      <td>E11.9</td>
      <td>Chad Smith</td>
    </tr>
    <tr>
      <th>18</th>
      <td>18.0</td>
      <td>82389</td>
      <td>44313.0</td>
      <td>M54.2</td>
      <td>Anne Mcmahon</td>
    </tr>
    <tr>
      <th>19</th>
      <td>19.0</td>
      <td>96453</td>
      <td>18901.0</td>
      <td>M99.01</td>
      <td>Elizabeth Reyes</td>
    </tr>
    <tr>
      <th>20</th>
      <td>20.0</td>
      <td>21451</td>
      <td>67679.0</td>
      <td>E11.9</td>
      <td>Anthony Sullivan</td>
    </tr>
    <tr>
      <th>21</th>
      <td>21.0</td>
      <td>14797</td>
      <td>67677.0</td>
      <td>M54.2</td>
      <td>Leslie Barber</td>
    </tr>
    <tr>
      <th>22</th>
      <td>22.0</td>
      <td>82832</td>
      <td>69487.0</td>
      <td>E11.9</td>
      <td>Mark Barker</td>
    </tr>
    <tr>
      <th>23</th>
      <td>23.0</td>
      <td>77591</td>
      <td>77391.0</td>
      <td>G44.311</td>
      <td>Nancy Smith</td>
    </tr>
    <tr>
      <th>24</th>
      <td>24.0</td>
      <td>59026</td>
      <td>79519.0</td>
      <td>M99.01</td>
      <td>Derrick Pena</td>
    </tr>
    <tr>
      <th>25</th>
      <td>25.0</td>
      <td>79979</td>
      <td>24811.0</td>
      <td>S06.0X1A</td>
      <td>Stephen Harper</td>
    </tr>
    <tr>
      <th>26</th>
      <td>26.0</td>
      <td>21088</td>
      <td>68720.0</td>
      <td>S06.0X1A</td>
      <td>Mark Wood</td>
    </tr>
    <tr>
      <th>27</th>
      <td>27.0</td>
      <td>75024</td>
      <td>52843.0</td>
      <td>S06.0X1A</td>
      <td>Jenna Cox</td>
    </tr>
    <tr>
      <th>28</th>
      <td>28.0</td>
      <td>54850</td>
      <td>14858.0</td>
      <td>S06.0X1A</td>
      <td>Heidi Evans</td>
    </tr>
    <tr>
      <th>29</th>
      <td>29.0</td>
      <td>87168</td>
      <td>44465.0</td>
      <td>M99.01</td>
      <td>Shannon Salinas</td>
    </tr>
    <tr>
      <th>30</th>
      <td>30.0</td>
      <td>32420</td>
      <td>39983.0</td>
      <td>E11.9</td>
      <td>Joseph Logan</td>
    </tr>
    <tr>
      <th>31</th>
      <td>31.0</td>
      <td>24174</td>
      <td>72736.0</td>
      <td>G44.311</td>
      <td>Christina Fuentes</td>
    </tr>
    <tr>
      <th>32</th>
      <td>32.0</td>
      <td>96539</td>
      <td>72556.0</td>
      <td>E11.9</td>
      <td>Michael Mcmahon</td>
    </tr>
    <tr>
      <th>33</th>
      <td>33.0</td>
      <td>25919</td>
      <td>39332.0</td>
      <td>M54.2</td>
      <td>Danielle Trujillo</td>
    </tr>
    <tr>
      <th>34</th>
      <td>34.0</td>
      <td>63528</td>
      <td>37208.0</td>
      <td>G44.311</td>
      <td>Cindy Fuller</td>
    </tr>
    <tr>
      <th>35</th>
      <td>35.0</td>
      <td>76668</td>
      <td>56544.0</td>
      <td>S06.0X1A</td>
      <td>Nicholas Fletcher</td>
    </tr>
    <tr>
      <th>36</th>
      <td>36.0</td>
      <td>19886</td>
      <td>92723.0</td>
      <td>S06.0X1A</td>
      <td>Mark Thomas</td>
    </tr>
    <tr>
      <th>37</th>
      <td>37.0</td>
      <td>10419</td>
      <td>28451.0</td>
      <td>G44.311</td>
      <td>Joel Green</td>
    </tr>
    <tr>
      <th>38</th>
      <td>38.0</td>
      <td>97470</td>
      <td>69464.0</td>
      <td>M54.2</td>
      <td>Natalie Taylor</td>
    </tr>
    <tr>
      <th>39</th>
      <td>39.0</td>
      <td>73402</td>
      <td>96061.0</td>
      <td>S06.0X1A</td>
      <td>David Day</td>
    </tr>
    <tr>
      <th>40</th>
      <td>40.0</td>
      <td>66303</td>
      <td>36187.0</td>
      <td>E11.9</td>
      <td>Cindy Ball</td>
    </tr>
    <tr>
      <th>41</th>
      <td>41.0</td>
      <td>34098</td>
      <td>39985.0</td>
      <td>M54.2</td>
      <td>Eric Cannon</td>
    </tr>
    <tr>
      <th>42</th>
      <td>42.0</td>
      <td>44896</td>
      <td>33024.0</td>
      <td>S06.0X1A</td>
      <td>Lacey Salas</td>
    </tr>
    <tr>
      <th>43</th>
      <td>43.0</td>
      <td>64738</td>
      <td>11985.0</td>
      <td>M99.01</td>
      <td>Aaron Scott</td>
    </tr>
    <tr>
      <th>44</th>
      <td>44.0</td>
      <td>11538</td>
      <td>77268.0</td>
      <td>M54.2</td>
      <td>Howard Collins</td>
    </tr>
    <tr>
      <th>45</th>
      <td>45.0</td>
      <td>21302</td>
      <td>77256.0</td>
      <td>M99.01</td>
      <td>Brooke Taylor</td>
    </tr>
    <tr>
      <th>46</th>
      <td>46.0</td>
      <td>39217</td>
      <td>45160.0</td>
      <td>M54.2</td>
      <td>Jamie Sutton</td>
    </tr>
    <tr>
      <th>47</th>
      <td>47.0</td>
      <td>78557</td>
      <td>97716.0</td>
      <td>S06.0X1A</td>
      <td>Amy Schmitt</td>
    </tr>
    <tr>
      <th>48</th>
      <td>48.0</td>
      <td>51545</td>
      <td>51161.0</td>
      <td>E11.9</td>
      <td>Jessica Howard</td>
    </tr>
    <tr>
      <th>49</th>
      <td>49.0</td>
      <td>62103</td>
      <td>18046.0</td>
      <td>E11.9</td>
      <td>Mark Fields</td>
    </tr>
    <tr>
      <th>50</th>
      <td>0.0</td>
      <td>16469</td>
      <td>99769.0</td>
      <td>E11.9</td>
      <td>Darius Duncan</td>
    </tr>
    <tr>
      <th>51</th>
      <td>1.0</td>
      <td>17996</td>
      <td>27771.0</td>
      <td>S06.0X1A</td>
      <td>Kayla Mason</td>
    </tr>
    <tr>
      <th>52</th>
      <td>2.0</td>
      <td>34734</td>
      <td>46796.0</td>
      <td>M99.01</td>
      <td>Travis Long</td>
    </tr>
    <tr>
      <th>53</th>
      <td>3.0</td>
      <td>51716</td>
      <td>14182.0</td>
      <td>M99.01</td>
      <td>Jennifer Baldwin</td>
    </tr>
    <tr>
      <th>54</th>
      <td>4.0</td>
      <td>96828</td>
      <td>64267.0</td>
      <td>E11.9</td>
      <td>Rita Mcdaniel</td>
    </tr>
    <tr>
      <th>55</th>
      <td>5.0</td>
      <td>33710</td>
      <td>36689.0</td>
      <td>E11.9</td>
      <td>Sean Newton</td>
    </tr>
    <tr>
      <th>56</th>
      <td>6.0</td>
      <td>47283</td>
      <td>69687.0</td>
      <td>M54.2</td>
      <td>Michelle Gross</td>
    </tr>
    <tr>
      <th>57</th>
      <td>7.0</td>
      <td>67768</td>
      <td>96535.0</td>
      <td>M99.01</td>
      <td>Brent Martinez</td>
    </tr>
    <tr>
      <th>58</th>
      <td>8.0</td>
      <td>51096</td>
      <td>24841.0</td>
      <td>E11.9</td>
      <td>Ashley Chavez</td>
    </tr>
    <tr>
      <th>59</th>
      <td>9.0</td>
      <td>77415</td>
      <td>86765.0</td>
      <td>G44.311</td>
      <td>Tony Garcia</td>
    </tr>
    <tr>
      <th>60</th>
      <td>10.0</td>
      <td>54332</td>
      <td>20459.0</td>
      <td>E11.9</td>
      <td>Matthew Johnson</td>
    </tr>
    <tr>
      <th>61</th>
      <td>11.0</td>
      <td>89612</td>
      <td>34959.0</td>
      <td>M54.2</td>
      <td>Mr. Joseph Sims DDS</td>
    </tr>
    <tr>
      <th>62</th>
      <td>12.0</td>
      <td>18546</td>
      <td>92932.0</td>
      <td>M99.01</td>
      <td>Jessica Brennan</td>
    </tr>
    <tr>
      <th>63</th>
      <td>13.0</td>
      <td>31599</td>
      <td>73181.0</td>
      <td>M54.2</td>
      <td>Becky Chavez</td>
    </tr>
    <tr>
      <th>64</th>
      <td>14.0</td>
      <td>69934</td>
      <td>18085.0</td>
      <td>S06.0X1A</td>
      <td>Manuel Lopez</td>
    </tr>
    <tr>
      <th>65</th>
      <td>15.0</td>
      <td>78395</td>
      <td>11019.0</td>
      <td>E11.9</td>
      <td>David Anderson</td>
    </tr>
    <tr>
      <th>66</th>
      <td>16.0</td>
      <td>69848</td>
      <td>75667.0</td>
      <td>M99.01</td>
      <td>Benjamin Lamb DDS</td>
    </tr>
    <tr>
      <th>67</th>
      <td>17.0</td>
      <td>70249</td>
      <td>82159.0</td>
      <td>M99.01</td>
      <td>Chris Collins</td>
    </tr>
    <tr>
      <th>68</th>
      <td>18.0</td>
      <td>77533</td>
      <td>87523.0</td>
      <td>E11.9</td>
      <td>Amy Lopez</td>
    </tr>
    <tr>
      <th>69</th>
      <td>19.0</td>
      <td>97384</td>
      <td>26462.0</td>
      <td>G44.311</td>
      <td>Jack Garcia</td>
    </tr>
    <tr>
      <th>70</th>
      <td>20.0</td>
      <td>19738</td>
      <td>41031.0</td>
      <td>M99.01</td>
      <td>Katelyn Holmes</td>
    </tr>
    <tr>
      <th>71</th>
      <td>21.0</td>
      <td>56920</td>
      <td>28612.0</td>
      <td>G44.311</td>
      <td>Amber Vega</td>
    </tr>
    <tr>
      <th>72</th>
      <td>22.0</td>
      <td>34931</td>
      <td>72017.0</td>
      <td>M54.2</td>
      <td>Michelle Grant</td>
    </tr>
    <tr>
      <th>73</th>
      <td>23.0</td>
      <td>31694</td>
      <td>29411.0</td>
      <td>M99.01</td>
      <td>Theresa Little</td>
    </tr>
    <tr>
      <th>74</th>
      <td>24.0</td>
      <td>91277</td>
      <td>80814.0</td>
      <td>S06.0X1A</td>
      <td>Katrina Smith</td>
    </tr>
    <tr>
      <th>75</th>
      <td>25.0</td>
      <td>27822</td>
      <td>40877.0</td>
      <td>M99.01</td>
      <td>Monica Gutierrez</td>
    </tr>
    <tr>
      <th>76</th>
      <td>26.0</td>
      <td>34169</td>
      <td>76543.0</td>
      <td>S06.0X1A</td>
      <td>Calvin Walker</td>
    </tr>
    <tr>
      <th>77</th>
      <td>27.0</td>
      <td>95125</td>
      <td>63391.0</td>
      <td>G44.311</td>
      <td>Jonathan Wood</td>
    </tr>
    <tr>
      <th>78</th>
      <td>28.0</td>
      <td>93556</td>
      <td>27536.0</td>
      <td>M99.01</td>
      <td>Taylor Nelson</td>
    </tr>
    <tr>
      <th>79</th>
      <td>29.0</td>
      <td>13241</td>
      <td>14984.0</td>
      <td>G44.311</td>
      <td>Beth Grant</td>
    </tr>
    <tr>
      <th>80</th>
      <td>30.0</td>
      <td>56980</td>
      <td>85601.0</td>
      <td>M99.01</td>
      <td>James Lewis</td>
    </tr>
    <tr>
      <th>81</th>
      <td>31.0</td>
      <td>76182</td>
      <td>21784.0</td>
      <td>G44.311</td>
      <td>David Mora</td>
    </tr>
    <tr>
      <th>82</th>
      <td>32.0</td>
      <td>72296</td>
      <td>61954.0</td>
      <td>E11.9</td>
      <td>Steven Roberts</td>
    </tr>
    <tr>
      <th>83</th>
      <td>33.0</td>
      <td>38317</td>
      <td>71334.0</td>
      <td>M99.01</td>
      <td>Matthew Griffith</td>
    </tr>
    <tr>
      <th>84</th>
      <td>34.0</td>
      <td>27569</td>
      <td>71620.0</td>
      <td>M54.2</td>
      <td>Julie Neal</td>
    </tr>
    <tr>
      <th>85</th>
      <td>35.0</td>
      <td>66799</td>
      <td>11826.0</td>
      <td>M54.2</td>
      <td>Jennifer Williams</td>
    </tr>
    <tr>
      <th>86</th>
      <td>36.0</td>
      <td>25174</td>
      <td>48354.0</td>
      <td>M99.01</td>
      <td>Nathan Ray</td>
    </tr>
    <tr>
      <th>87</th>
      <td>37.0</td>
      <td>88539</td>
      <td>74641.0</td>
      <td>S06.0X1A</td>
      <td>Kevin Day</td>
    </tr>
    <tr>
      <th>88</th>
      <td>38.0</td>
      <td>75097</td>
      <td>18169.0</td>
      <td>M54.2</td>
      <td>Linda Bell</td>
    </tr>
    <tr>
      <th>89</th>
      <td>39.0</td>
      <td>54699</td>
      <td>85301.0</td>
      <td>G44.311</td>
      <td>Paula Stephens</td>
    </tr>
    <tr>
      <th>90</th>
      <td>40.0</td>
      <td>93147</td>
      <td>16735.0</td>
      <td>M54.2</td>
      <td>Michaela Collins</td>
    </tr>
    <tr>
      <th>91</th>
      <td>41.0</td>
      <td>60722</td>
      <td>35895.0</td>
      <td>G44.311</td>
      <td>Kristi Soto</td>
    </tr>
    <tr>
      <th>92</th>
      <td>42.0</td>
      <td>38054</td>
      <td>48345.0</td>
      <td>M99.01</td>
      <td>Larry Chung</td>
    </tr>
    <tr>
      <th>93</th>
      <td>43.0</td>
      <td>54851</td>
      <td>88241.0</td>
      <td>G44.311</td>
      <td>Matthew Pratt</td>
    </tr>
    <tr>
      <th>94</th>
      <td>44.0</td>
      <td>81007</td>
      <td>71978.0</td>
      <td>S06.0X1A</td>
      <td>Mark Herrera</td>
    </tr>
    <tr>
      <th>95</th>
      <td>45.0</td>
      <td>27008</td>
      <td>18256.0</td>
      <td>M54.2</td>
      <td>Daniel Meadows</td>
    </tr>
    <tr>
      <th>96</th>
      <td>46.0</td>
      <td>51216</td>
      <td>55306.0</td>
      <td>S06.0X1A</td>
      <td>Albert Erickson</td>
    </tr>
    <tr>
      <th>97</th>
      <td>47.0</td>
      <td>52285</td>
      <td>68248.0</td>
      <td>E11.9</td>
      <td>Michael Andersen</td>
    </tr>
    <tr>
      <th>98</th>
      <td>48.0</td>
      <td>56758</td>
      <td>19276.0</td>
      <td>G44.311</td>
      <td>Daniel Skinner</td>
    </tr>
    <tr>
      <th>99</th>
      <td>49.0</td>
      <td>63053</td>
      <td>14428.0</td>
      <td>S06.0X1A</td>
      <td>Brittany Rodgers</td>
    </tr>
    <tr>
      <th>100</th>
      <td>NaN</td>
      <td>49536</td>
      <td>91358.0</td>
      <td>S06.0X1A</td>
      <td>Mary Martin</td>
    </tr>
    <tr>
      <th>101</th>
      <td>NaN</td>
      <td>38898</td>
      <td>42135.0</td>
      <td>E11.9</td>
      <td>John Wong</td>
    </tr>
    <tr>
      <th>102</th>
      <td>NaN</td>
      <td>19541</td>
      <td>28945.0</td>
      <td>G44.311</td>
      <td>Brian Washington</td>
    </tr>
    <tr>
      <th>103</th>
      <td>NaN</td>
      <td>69127</td>
      <td>59469.0</td>
      <td>M54.2</td>
      <td>Sarah Jones</td>
    </tr>
    <tr>
      <th>104</th>
      <td>NaN</td>
      <td>26848</td>
      <td>67573.0</td>
      <td>E11.9</td>
      <td>Chad Green</td>
    </tr>
    <tr>
      <th>105</th>
      <td>NaN</td>
      <td>96577</td>
      <td>10762.0</td>
      <td>S06.0X1A</td>
      <td>Ashley Webb</td>
    </tr>
    <tr>
      <th>106</th>
      <td>NaN</td>
      <td>79506</td>
      <td>86056.0</td>
      <td>M54.2</td>
      <td>Jordan Fernandez</td>
    </tr>
    <tr>
      <th>107</th>
      <td>NaN</td>
      <td>28461</td>
      <td>61033.0</td>
      <td>E11.9</td>
      <td>Tanner Camacho</td>
    </tr>
    <tr>
      <th>108</th>
      <td>NaN</td>
      <td>96577</td>
      <td>49500.0</td>
      <td>M54.2</td>
      <td>Lisa Weaver</td>
    </tr>
    <tr>
      <th>109</th>
      <td>NaN</td>
      <td>31234</td>
      <td>46290.0</td>
      <td>E11.9</td>
      <td>Jacqueline Mccormick</td>
    </tr>
    <tr>
      <th>110</th>
      <td>NaN</td>
      <td>60587</td>
      <td>92154.0</td>
      <td>G44.311</td>
      <td>Samuel Goodwin</td>
    </tr>
    <tr>
      <th>111</th>
      <td>NaN</td>
      <td>99177</td>
      <td>37047.0</td>
      <td>M99.01</td>
      <td>Denise Green</td>
    </tr>
    <tr>
      <th>112</th>
      <td>NaN</td>
      <td>63375</td>
      <td>78540.0</td>
      <td>M54.2</td>
      <td>Cassidy Wyatt</td>
    </tr>
    <tr>
      <th>113</th>
      <td>NaN</td>
      <td>90551</td>
      <td>11678.0</td>
      <td>E11.9</td>
      <td>Maria Molina</td>
    </tr>
    <tr>
      <th>114</th>
      <td>NaN</td>
      <td>83222</td>
      <td>40476.0</td>
      <td>G44.311</td>
      <td>Sabrina Watson</td>
    </tr>
    <tr>
      <th>115</th>
      <td>NaN</td>
      <td>20075</td>
      <td>92107.0</td>
      <td>E11.9</td>
      <td>Marissa Drake</td>
    </tr>
    <tr>
      <th>116</th>
      <td>NaN</td>
      <td>36500</td>
      <td>80564.0</td>
      <td>M99.01</td>
      <td>Jose Sullivan</td>
    </tr>
    <tr>
      <th>117</th>
      <td>NaN</td>
      <td>41879</td>
      <td>98199.0</td>
      <td>E11.9</td>
      <td>Cody Young</td>
    </tr>
    <tr>
      <th>118</th>
      <td>NaN</td>
      <td>88550</td>
      <td>47785.0</td>
      <td>M99.01</td>
      <td>Jeffery Lester</td>
    </tr>
    <tr>
      <th>119</th>
      <td>NaN</td>
      <td>61180</td>
      <td>51294.0</td>
      <td>S06.0X1A</td>
      <td>Kimberly Fuller</td>
    </tr>
    <tr>
      <th>120</th>
      <td>NaN</td>
      <td>84337</td>
      <td>95618.0</td>
      <td>G44.311</td>
      <td>Joseph Holland</td>
    </tr>
    <tr>
      <th>121</th>
      <td>NaN</td>
      <td>49893</td>
      <td>40282.0</td>
      <td>G44.311</td>
      <td>Stephanie Hanson</td>
    </tr>
    <tr>
      <th>122</th>
      <td>NaN</td>
      <td>88770</td>
      <td>39527.0</td>
      <td>G44.311</td>
      <td>Wendy Reeves</td>
    </tr>
    <tr>
      <th>123</th>
      <td>NaN</td>
      <td>81152</td>
      <td>15652.0</td>
      <td>S06.0X1A</td>
      <td>Tara Jones</td>
    </tr>
    <tr>
      <th>124</th>
      <td>NaN</td>
      <td>62636</td>
      <td>22023.0</td>
      <td>S06.0X1A</td>
      <td>John Kelley</td>
    </tr>
    <tr>
      <th>125</th>
      <td>NaN</td>
      <td>48511</td>
      <td>38961.0</td>
      <td>M54.2</td>
      <td>Eric Martin</td>
    </tr>
    <tr>
      <th>126</th>
      <td>NaN</td>
      <td>63304</td>
      <td>90963.0</td>
      <td>M54.2</td>
      <td>Anita Golden</td>
    </tr>
    <tr>
      <th>127</th>
      <td>NaN</td>
      <td>98824</td>
      <td>98675.0</td>
      <td>G44.311</td>
      <td>Amy Flores</td>
    </tr>
    <tr>
      <th>128</th>
      <td>NaN</td>
      <td>20361</td>
      <td>12685.0</td>
      <td>G44.311</td>
      <td>Reginald Fisher</td>
    </tr>
    <tr>
      <th>129</th>
      <td>NaN</td>
      <td>86708</td>
      <td>78110.0</td>
      <td>M54.2</td>
      <td>Alison Padilla</td>
    </tr>
    <tr>
      <th>130</th>
      <td>NaN</td>
      <td>51841</td>
      <td>35966.0</td>
      <td>M99.01</td>
      <td>Greg Green</td>
    </tr>
    <tr>
      <th>131</th>
      <td>NaN</td>
      <td>64127</td>
      <td>60459.0</td>
      <td>S06.0X1A</td>
      <td>Diana Kelley</td>
    </tr>
    <tr>
      <th>132</th>
      <td>NaN</td>
      <td>65671</td>
      <td>55110.0</td>
      <td>E11.9</td>
      <td>Steven Sullivan</td>
    </tr>
    <tr>
      <th>133</th>
      <td>NaN</td>
      <td>35917</td>
      <td>57077.0</td>
      <td>M99.01</td>
      <td>Brian Hayden</td>
    </tr>
    <tr>
      <th>134</th>
      <td>NaN</td>
      <td>94537</td>
      <td>91357.0</td>
      <td>M54.2</td>
      <td>Rachel Mccarthy</td>
    </tr>
    <tr>
      <th>135</th>
      <td>NaN</td>
      <td>60147</td>
      <td>62169.0</td>
      <td>M54.2</td>
      <td>Ashley Jenkins</td>
    </tr>
    <tr>
      <th>136</th>
      <td>NaN</td>
      <td>32073</td>
      <td>36553.0</td>
      <td>S06.0X1A</td>
      <td>Tracy Patterson</td>
    </tr>
    <tr>
      <th>137</th>
      <td>NaN</td>
      <td>10177</td>
      <td>42303.0</td>
      <td>M99.01</td>
      <td>Felicia Smith</td>
    </tr>
    <tr>
      <th>138</th>
      <td>NaN</td>
      <td>91063</td>
      <td>28215.0</td>
      <td>S06.0X1A</td>
      <td>Stephen Stephens</td>
    </tr>
    <tr>
      <th>139</th>
      <td>NaN</td>
      <td>27713</td>
      <td>72794.0</td>
      <td>M54.2</td>
      <td>Stephanie Fernandez</td>
    </tr>
    <tr>
      <th>140</th>
      <td>NaN</td>
      <td>22376</td>
      <td>78454.0</td>
      <td>M99.01</td>
      <td>Ana Mcbride</td>
    </tr>
    <tr>
      <th>141</th>
      <td>NaN</td>
      <td>97231</td>
      <td>93308.0</td>
      <td>M54.2</td>
      <td>Dave Robbins</td>
    </tr>
    <tr>
      <th>142</th>
      <td>NaN</td>
      <td>28897</td>
      <td>79557.0</td>
      <td>E11.9</td>
      <td>Gavin Howard</td>
    </tr>
    <tr>
      <th>143</th>
      <td>NaN</td>
      <td>43879</td>
      <td>83567.0</td>
      <td>M54.2</td>
      <td>Michael Mendoza</td>
    </tr>
    <tr>
      <th>144</th>
      <td>NaN</td>
      <td>83275</td>
      <td>35407.0</td>
      <td>E11.9</td>
      <td>Tammy Davis</td>
    </tr>
    <tr>
      <th>145</th>
      <td>NaN</td>
      <td>80095</td>
      <td>67467.0</td>
      <td>S06.0X1A</td>
      <td>Jeremiah Brown</td>
    </tr>
    <tr>
      <th>146</th>
      <td>NaN</td>
      <td>20177</td>
      <td>93489.0</td>
      <td>E11.9</td>
      <td>Garrett Salas</td>
    </tr>
    <tr>
      <th>147</th>
      <td>NaN</td>
      <td>87985</td>
      <td>18874.0</td>
      <td>E11.9</td>
      <td>Matthew Martinez</td>
    </tr>
    <tr>
      <th>148</th>
      <td>NaN</td>
      <td>60023</td>
      <td>51850.0</td>
      <td>M54.2</td>
      <td>Christopher Johnson</td>
    </tr>
    <tr>
      <th>149</th>
      <td>NaN</td>
      <td>53212</td>
      <td>41106.0</td>
      <td>M54.2</td>
      <td>Katherine Price</td>
    </tr>
    <tr>
      <th>150</th>
      <td>NaN</td>
      <td>90251</td>
      <td>NaN</td>
      <td>S06.0X1A</td>
      <td>Joshua Pearson</td>
    </tr>
    <tr>
      <th>151</th>
      <td>NaN</td>
      <td>34238</td>
      <td>NaN</td>
      <td>E11.9</td>
      <td>Jeffrey Bush</td>
    </tr>
    <tr>
      <th>152</th>
      <td>NaN</td>
      <td>44195</td>
      <td>NaN</td>
      <td>M54.2</td>
      <td>Maria Sullivan</td>
    </tr>
    <tr>
      <th>153</th>
      <td>NaN</td>
      <td>79747</td>
      <td>NaN</td>
      <td>G44.311</td>
      <td>Thomas Banks</td>
    </tr>
    <tr>
      <th>154</th>
      <td>NaN</td>
      <td>90222</td>
      <td>NaN</td>
      <td>E11.9</td>
      <td>Laura Hernandez</td>
    </tr>
    <tr>
      <th>155</th>
      <td>NaN</td>
      <td>80107</td>
      <td>NaN</td>
      <td>E11.9</td>
      <td>Nathaniel Valdez II</td>
    </tr>
    <tr>
      <th>156</th>
      <td>NaN</td>
      <td>45263</td>
      <td>NaN</td>
      <td>M99.01</td>
      <td>Leslie Trevino</td>
    </tr>
    <tr>
      <th>157</th>
      <td>NaN</td>
      <td>57374</td>
      <td>NaN</td>
      <td>M54.2</td>
      <td>Linda Pierce</td>
    </tr>
    <tr>
      <th>158</th>
      <td>NaN</td>
      <td>33181</td>
      <td>NaN</td>
      <td>M99.01</td>
      <td>Catherine Galvan</td>
    </tr>
    <tr>
      <th>159</th>
      <td>NaN</td>
      <td>81165</td>
      <td>NaN</td>
      <td>S06.0X1A</td>
      <td>Wendy Wood</td>
    </tr>
    <tr>
      <th>160</th>
      <td>NaN</td>
      <td>33528</td>
      <td>NaN</td>
      <td>M99.01</td>
      <td>Maureen Reynolds</td>
    </tr>
    <tr>
      <th>161</th>
      <td>NaN</td>
      <td>85869</td>
      <td>NaN</td>
      <td>E11.9</td>
      <td>Tina Young</td>
    </tr>
    <tr>
      <th>162</th>
      <td>NaN</td>
      <td>84156</td>
      <td>NaN</td>
      <td>E11.9</td>
      <td>Monica Kaiser</td>
    </tr>
    <tr>
      <th>163</th>
      <td>NaN</td>
      <td>82643</td>
      <td>NaN</td>
      <td>M54.2</td>
      <td>Laura Campbell</td>
    </tr>
    <tr>
      <th>164</th>
      <td>NaN</td>
      <td>58686</td>
      <td>NaN</td>
      <td>M99.01</td>
      <td>Billy Jordan</td>
    </tr>
    <tr>
      <th>165</th>
      <td>NaN</td>
      <td>47980</td>
      <td>NaN</td>
      <td>M99.01</td>
      <td>Travis Brown</td>
    </tr>
    <tr>
      <th>166</th>
      <td>NaN</td>
      <td>76804</td>
      <td>NaN</td>
      <td>S06.0X1A</td>
      <td>Justin Smith</td>
    </tr>
    <tr>
      <th>167</th>
      <td>NaN</td>
      <td>34344</td>
      <td>NaN</td>
      <td>E11.9</td>
      <td>Amanda Chavez</td>
    </tr>
    <tr>
      <th>168</th>
      <td>NaN</td>
      <td>57784</td>
      <td>NaN</td>
      <td>S06.0X1A</td>
      <td>Dr. John Bennett MD</td>
    </tr>
    <tr>
      <th>169</th>
      <td>NaN</td>
      <td>31052</td>
      <td>NaN</td>
      <td>M99.01</td>
      <td>Gerald Pitts</td>
    </tr>
    <tr>
      <th>170</th>
      <td>NaN</td>
      <td>94278</td>
      <td>NaN</td>
      <td>S06.0X1A</td>
      <td>Dana Salazar</td>
    </tr>
    <tr>
      <th>171</th>
      <td>NaN</td>
      <td>38883</td>
      <td>NaN</td>
      <td>M54.2</td>
      <td>Melissa Pierce</td>
    </tr>
    <tr>
      <th>172</th>
      <td>NaN</td>
      <td>51353</td>
      <td>NaN</td>
      <td>M54.2</td>
      <td>Micheal Crane</td>
    </tr>
    <tr>
      <th>173</th>
      <td>NaN</td>
      <td>85182</td>
      <td>NaN</td>
      <td>E11.9</td>
      <td>Joann Clay</td>
    </tr>
    <tr>
      <th>174</th>
      <td>NaN</td>
      <td>61670</td>
      <td>NaN</td>
      <td>M54.2</td>
      <td>Aaron Rice</td>
    </tr>
    <tr>
      <th>175</th>
      <td>NaN</td>
      <td>77510</td>
      <td>NaN</td>
      <td>S06.0X1A</td>
      <td>Taylor Garcia</td>
    </tr>
    <tr>
      <th>176</th>
      <td>NaN</td>
      <td>73659</td>
      <td>NaN</td>
      <td>S06.0X1A</td>
      <td>Jason Matthews</td>
    </tr>
    <tr>
      <th>177</th>
      <td>NaN</td>
      <td>98194</td>
      <td>NaN</td>
      <td>E11.9</td>
      <td>Robert Garcia</td>
    </tr>
    <tr>
      <th>178</th>
      <td>NaN</td>
      <td>70466</td>
      <td>NaN</td>
      <td>G44.311</td>
      <td>Megan Weaver</td>
    </tr>
    <tr>
      <th>179</th>
      <td>NaN</td>
      <td>79005</td>
      <td>NaN</td>
      <td>G44.311</td>
      <td>Eric Hill</td>
    </tr>
    <tr>
      <th>180</th>
      <td>NaN</td>
      <td>17339</td>
      <td>NaN</td>
      <td>G44.311</td>
      <td>Laura Gibson</td>
    </tr>
    <tr>
      <th>181</th>
      <td>NaN</td>
      <td>45479</td>
      <td>NaN</td>
      <td>E11.9</td>
      <td>Barbara Page</td>
    </tr>
    <tr>
      <th>182</th>
      <td>NaN</td>
      <td>37033</td>
      <td>NaN</td>
      <td>S06.0X1A</td>
      <td>Jason Carter</td>
    </tr>
    <tr>
      <th>183</th>
      <td>NaN</td>
      <td>83932</td>
      <td>NaN</td>
      <td>M99.01</td>
      <td>Sherry Rogers</td>
    </tr>
    <tr>
      <th>184</th>
      <td>NaN</td>
      <td>54209</td>
      <td>NaN</td>
      <td>E11.9</td>
      <td>Stephanie Howard</td>
    </tr>
    <tr>
      <th>185</th>
      <td>NaN</td>
      <td>77792</td>
      <td>NaN</td>
      <td>G44.311</td>
      <td>Kathryn Chapman</td>
    </tr>
    <tr>
      <th>186</th>
      <td>NaN</td>
      <td>38774</td>
      <td>NaN</td>
      <td>G44.311</td>
      <td>Virginia Schmidt</td>
    </tr>
    <tr>
      <th>187</th>
      <td>NaN</td>
      <td>91920</td>
      <td>NaN</td>
      <td>G44.311</td>
      <td>Alexis Price</td>
    </tr>
    <tr>
      <th>188</th>
      <td>NaN</td>
      <td>34822</td>
      <td>NaN</td>
      <td>G44.311</td>
      <td>Kimberly Moon</td>
    </tr>
    <tr>
      <th>189</th>
      <td>NaN</td>
      <td>44743</td>
      <td>NaN</td>
      <td>M54.2</td>
      <td>Kaylee Jackson DDS</td>
    </tr>
    <tr>
      <th>190</th>
      <td>NaN</td>
      <td>62381</td>
      <td>NaN</td>
      <td>M99.01</td>
      <td>Kathryn Reyes</td>
    </tr>
    <tr>
      <th>191</th>
      <td>NaN</td>
      <td>34095</td>
      <td>NaN</td>
      <td>S06.0X1A</td>
      <td>Chelsea Suarez</td>
    </tr>
    <tr>
      <th>192</th>
      <td>NaN</td>
      <td>57775</td>
      <td>NaN</td>
      <td>G44.311</td>
      <td>Alicia Williams</td>
    </tr>
    <tr>
      <th>193</th>
      <td>NaN</td>
      <td>41930</td>
      <td>NaN</td>
      <td>M99.01</td>
      <td>Michael Mills</td>
    </tr>
    <tr>
      <th>194</th>
      <td>NaN</td>
      <td>28151</td>
      <td>NaN</td>
      <td>M54.2</td>
      <td>Sheryl Miller</td>
    </tr>
    <tr>
      <th>195</th>
      <td>NaN</td>
      <td>82903</td>
      <td>NaN</td>
      <td>M54.2</td>
      <td>Mr. Richard Jennings PhD</td>
    </tr>
    <tr>
      <th>196</th>
      <td>NaN</td>
      <td>81999</td>
      <td>NaN</td>
      <td>S06.0X1A</td>
      <td>Candice Luna</td>
    </tr>
    <tr>
      <th>197</th>
      <td>NaN</td>
      <td>53118</td>
      <td>NaN</td>
      <td>S06.0X1A</td>
      <td>Anthony Lane Jr.</td>
    </tr>
    <tr>
      <th>198</th>
      <td>NaN</td>
      <td>60072</td>
      <td>NaN</td>
      <td>M54.2</td>
      <td>Howard Gill</td>
    </tr>
    <tr>
      <th>199</th>
      <td>NaN</td>
      <td>35124</td>
      <td>NaN</td>
      <td>E11.9</td>
      <td>Miguel Newton</td>
    </tr>
    <tr>
      <th>200</th>
      <td>NaN</td>
      <td>91154</td>
      <td>52356.0</td>
      <td>M99.01</td>
      <td>Nathan Compton</td>
    </tr>
    <tr>
      <th>201</th>
      <td>NaN</td>
      <td>88993</td>
      <td>16127.0</td>
      <td>M99.01</td>
      <td>Erin Whitaker</td>
    </tr>
    <tr>
      <th>202</th>
      <td>NaN</td>
      <td>58326</td>
      <td>59880.0</td>
      <td>M99.01</td>
      <td>Ryan Tanner</td>
    </tr>
    <tr>
      <th>203</th>
      <td>NaN</td>
      <td>95441</td>
      <td>28152.0</td>
      <td>S06.0X1A</td>
      <td>Alyssa Benson</td>
    </tr>
    <tr>
      <th>204</th>
      <td>NaN</td>
      <td>21853</td>
      <td>78458.0</td>
      <td>S06.0X1A</td>
      <td>Amy Lee</td>
    </tr>
    <tr>
      <th>205</th>
      <td>NaN</td>
      <td>16190</td>
      <td>95149.0</td>
      <td>G44.311</td>
      <td>Christian Martin</td>
    </tr>
    <tr>
      <th>206</th>
      <td>NaN</td>
      <td>53314</td>
      <td>92556.0</td>
      <td>G44.311</td>
      <td>Whitney Galvan</td>
    </tr>
    <tr>
      <th>207</th>
      <td>NaN</td>
      <td>52439</td>
      <td>36173.0</td>
      <td>M54.2</td>
      <td>Bryan Williams</td>
    </tr>
    <tr>
      <th>208</th>
      <td>NaN</td>
      <td>83146</td>
      <td>69682.0</td>
      <td>E11.9</td>
      <td>Aaron Mitchell</td>
    </tr>
    <tr>
      <th>209</th>
      <td>NaN</td>
      <td>85749</td>
      <td>50010.0</td>
      <td>G44.311</td>
      <td>Katelyn Johnson</td>
    </tr>
    <tr>
      <th>210</th>
      <td>NaN</td>
      <td>80210</td>
      <td>25877.0</td>
      <td>E11.9</td>
      <td>Dylan Carter</td>
    </tr>
    <tr>
      <th>211</th>
      <td>NaN</td>
      <td>12541</td>
      <td>13381.0</td>
      <td>M99.01</td>
      <td>Zachary Hanna</td>
    </tr>
    <tr>
      <th>212</th>
      <td>NaN</td>
      <td>65463</td>
      <td>53080.0</td>
      <td>M54.2</td>
      <td>Henry Reynolds</td>
    </tr>
    <tr>
      <th>213</th>
      <td>NaN</td>
      <td>22820</td>
      <td>47420.0</td>
      <td>G44.311</td>
      <td>Stephen Kelley</td>
    </tr>
    <tr>
      <th>214</th>
      <td>NaN</td>
      <td>75417</td>
      <td>13779.0</td>
      <td>M54.2</td>
      <td>April Nash</td>
    </tr>
    <tr>
      <th>215</th>
      <td>NaN</td>
      <td>58481</td>
      <td>39969.0</td>
      <td>S06.0X1A</td>
      <td>Ashley Hebert</td>
    </tr>
    <tr>
      <th>216</th>
      <td>NaN</td>
      <td>24176</td>
      <td>78766.0</td>
      <td>S06.0X1A</td>
      <td>Sarah Watson</td>
    </tr>
    <tr>
      <th>217</th>
      <td>NaN</td>
      <td>43924</td>
      <td>95018.0</td>
      <td>G44.311</td>
      <td>Douglas White</td>
    </tr>
    <tr>
      <th>218</th>
      <td>NaN</td>
      <td>35103</td>
      <td>71049.0</td>
      <td>M99.01</td>
      <td>Raymond May</td>
    </tr>
    <tr>
      <th>219</th>
      <td>NaN</td>
      <td>11718</td>
      <td>50640.0</td>
      <td>M54.2</td>
      <td>David Flowers</td>
    </tr>
    <tr>
      <th>220</th>
      <td>NaN</td>
      <td>12880</td>
      <td>93025.0</td>
      <td>M54.2</td>
      <td>Vincent Nunez</td>
    </tr>
    <tr>
      <th>221</th>
      <td>NaN</td>
      <td>89580</td>
      <td>63937.0</td>
      <td>M99.01</td>
      <td>Ashley Jacobs</td>
    </tr>
    <tr>
      <th>222</th>
      <td>NaN</td>
      <td>78791</td>
      <td>21211.0</td>
      <td>M99.01</td>
      <td>John James</td>
    </tr>
    <tr>
      <th>223</th>
      <td>NaN</td>
      <td>26415</td>
      <td>85237.0</td>
      <td>S06.0X1A</td>
      <td>Michael Carpenter</td>
    </tr>
    <tr>
      <th>224</th>
      <td>NaN</td>
      <td>81365</td>
      <td>37049.0</td>
      <td>M99.01</td>
      <td>Elizabeth Henry</td>
    </tr>
    <tr>
      <th>225</th>
      <td>NaN</td>
      <td>55740</td>
      <td>17914.0</td>
      <td>S06.0X1A</td>
      <td>Eddie Smith</td>
    </tr>
    <tr>
      <th>226</th>
      <td>NaN</td>
      <td>24102</td>
      <td>29247.0</td>
      <td>G44.311</td>
      <td>Briana Munoz</td>
    </tr>
    <tr>
      <th>227</th>
      <td>NaN</td>
      <td>72045</td>
      <td>19302.0</td>
      <td>G44.311</td>
      <td>Mary Griffin</td>
    </tr>
    <tr>
      <th>228</th>
      <td>NaN</td>
      <td>14454</td>
      <td>90616.0</td>
      <td>E11.9</td>
      <td>Joshua Johnson</td>
    </tr>
    <tr>
      <th>229</th>
      <td>NaN</td>
      <td>85666</td>
      <td>84751.0</td>
      <td>S06.0X1A</td>
      <td>Dr. Carla Smith</td>
    </tr>
    <tr>
      <th>230</th>
      <td>NaN</td>
      <td>91911</td>
      <td>81162.0</td>
      <td>M54.2</td>
      <td>Teresa Anderson</td>
    </tr>
    <tr>
      <th>231</th>
      <td>NaN</td>
      <td>23175</td>
      <td>42097.0</td>
      <td>G44.311</td>
      <td>Michael Walters</td>
    </tr>
    <tr>
      <th>232</th>
      <td>NaN</td>
      <td>94599</td>
      <td>27410.0</td>
      <td>M54.2</td>
      <td>John Schwartz</td>
    </tr>
    <tr>
      <th>233</th>
      <td>NaN</td>
      <td>26961</td>
      <td>89820.0</td>
      <td>E11.9</td>
      <td>Erin Bryant</td>
    </tr>
    <tr>
      <th>234</th>
      <td>NaN</td>
      <td>19831</td>
      <td>38188.0</td>
      <td>M99.01</td>
      <td>Rebekah Martin</td>
    </tr>
    <tr>
      <th>235</th>
      <td>NaN</td>
      <td>22037</td>
      <td>85195.0</td>
      <td>G44.311</td>
      <td>Danielle Cervantes</td>
    </tr>
    <tr>
      <th>236</th>
      <td>NaN</td>
      <td>96113</td>
      <td>85657.0</td>
      <td>G44.311</td>
      <td>Julie Smith</td>
    </tr>
    <tr>
      <th>237</th>
      <td>NaN</td>
      <td>76683</td>
      <td>41228.0</td>
      <td>E11.9</td>
      <td>Sara Zuniga</td>
    </tr>
    <tr>
      <th>238</th>
      <td>NaN</td>
      <td>49924</td>
      <td>18860.0</td>
      <td>G44.311</td>
      <td>Mary Hatfield</td>
    </tr>
    <tr>
      <th>239</th>
      <td>NaN</td>
      <td>75688</td>
      <td>81927.0</td>
      <td>S06.0X1A</td>
      <td>Roger Villanueva</td>
    </tr>
    <tr>
      <th>240</th>
      <td>NaN</td>
      <td>26370</td>
      <td>75466.0</td>
      <td>E11.9</td>
      <td>Sharon Schroeder DDS</td>
    </tr>
    <tr>
      <th>241</th>
      <td>NaN</td>
      <td>21280</td>
      <td>45416.0</td>
      <td>E11.9</td>
      <td>Julie Stokes</td>
    </tr>
    <tr>
      <th>242</th>
      <td>NaN</td>
      <td>94846</td>
      <td>82140.0</td>
      <td>E11.9</td>
      <td>John Beck</td>
    </tr>
    <tr>
      <th>243</th>
      <td>NaN</td>
      <td>86789</td>
      <td>58228.0</td>
      <td>G44.311</td>
      <td>Aaron Barnett</td>
    </tr>
    <tr>
      <th>244</th>
      <td>NaN</td>
      <td>89185</td>
      <td>68520.0</td>
      <td>S06.0X1A</td>
      <td>Benjamin Cantu</td>
    </tr>
    <tr>
      <th>245</th>
      <td>NaN</td>
      <td>27138</td>
      <td>17543.0</td>
      <td>E11.9</td>
      <td>Michelle Welch</td>
    </tr>
    <tr>
      <th>246</th>
      <td>NaN</td>
      <td>53296</td>
      <td>62032.0</td>
      <td>S06.0X1A</td>
      <td>Michael Day</td>
    </tr>
    <tr>
      <th>247</th>
      <td>NaN</td>
      <td>24218</td>
      <td>11470.0</td>
      <td>G44.311</td>
      <td>Steven Jones</td>
    </tr>
    <tr>
      <th>248</th>
      <td>NaN</td>
      <td>34478</td>
      <td>24271.0</td>
      <td>G44.311</td>
      <td>Laurie Vasquez</td>
    </tr>
    <tr>
      <th>249</th>
      <td>NaN</td>
      <td>13478</td>
      <td>53951.0</td>
      <td>M99.01</td>
      <td>Shaun Acosta DVM</td>
    </tr>
  </tbody>
</table>